


body{
    margin: 0;
    padding: 0;
    font-family: Modern Antiqua;
    background-color: #F7F1E5;
}

#pokecard{
    
    background-color: #E7B10A;
    margin-top: 100px;
    border-radius: 10px;
    
}

.card-title{
    padding-bottom:50px;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.card-text{
    text-align: center;
    font-size: large;
}


.button{
    background-color: #4C4B16;
    outline: transparent;
    border-radius: 5px;
    margin-top: 20px;
    color: #F7F1E5;
    height: 40px;
    width: 110px;
    font-size: large;

}

.button1{
    background-color: #4C4B16;
    outline: transparent;
    border-radius: 5px;
    margin-top: 20px;
    color: #F7F1E5;
    height: 100px;
    width: 100px;
    font-size: large;

}



.button:hover{
    background-color: #E7B10A;
    color:  #4C4B16;
    outline: transparent;
}

.button1:hover{
    background-color: #E7B10A;
    color:  #4C4B16;
    outline: transparent;
}


.form-control{
    border-radius: 5px;
    margin-top: 10px;

}


.col-4{
    padding-top: 50px;
}

.register-greeting, .login-greeting, .home-greeting, .finder-greeting{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}


.entry{
    text-align: center;
    min-height: 400px;  
    position: relative;
    overflow: hidden;
}

.con{
    margin-top: 200px;
}

h2{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 65px;
}
img {
    transition: transform .7s ease-in-out;
  }

img:hover{
    transform: rotate(360deg) ;
}
