{% extends 'base.html' %}

{%  block content  %}

<div class="d-flex flex-row-reverse justify-content-between">
    <div><img class="spin" src="{{ url_for('static', filename='image1.png')}}" alt="owl" width="200"></div>
    <div><img class="spin" src="{{ url_for('static', filename='image2.png')}}" alt="owl" width="200"></div>
    <div><img class="spin" src="{{ url_for('static', filename='image3.png')}}" alt="owl" width="200"></div>

</div>
<h2>Welcome to the Pokemon Battle
    <br>
    Make wise choices</h2>








{%  endblock  %}