{% extends 'base.html' %}


{%  block content  %}



<div id="pokecard" class="container" style="width: 18rem;">
  <img src="{{poke_dic['front shiny']}}" class="card-img-top" alt="...">
  <div class="row justify-content-center"></div>
  <div method ="POST" class="card-body">
    <div class="card-title">{{ poke_dic['name'] }}</div>
    <div class="card-text">
     <p>Ability Name: {{poke_dic['ability name']}}</p>
     <p>Base Experience: {{poke_dic['base experience']}}</p>
     <p>HP Base Stat: {{poke_dic['hp base stat']}}</p>
     <p>Attack Base Stat: {{poke_dic['attack base stat']}}</p>
     <p>Defense Base Stat: {{poke_dic['defense base stat']}}</p>
     <button class= 'button1' type="button">Select for Battle</button>
     </div>
    </div>
  </div>
</div>


{%  endblock  %}
